### 合同审查结果格式化
你将看到上游AI输出的一份合同审查结果，请查看。并按要求的json格式输出，以方便后续程序处理。

### json schema
{
    "$defs": {
        "ReviewResult": {
            "properties": {
                "entry": {
                    "description": "合同审查目标",
                    "type": "string"
                },
                "entry_id": {
                    "description": "合同审查目标的编号",
                    "type": "number"
                }
                "risks": {
                    "description": "合同审查结果, 如果审查结果内表示没有风险或无相关内容，则该字段为空列表",
                    "items": {
                        "$ref": "#/$defs/ReviewRisk"
                    },
                    "type": "array"
                }
            },
            "required": [
                "entry",
                "risks"
            ],
            "type": "object"
        },
        "ReviewRisk": {
            "properties": {
                "raw_text": {
                    "description": "引用的具体合同片段",
                    "type": "string"
                },
                "why_risk": {
                    "description": "风险分析",
                    "type": "string"
                },
                "suggestion": {
                    "description": "原文修改后的内容",
                    "type": "string"
                }
            },
            "required": [
                "raw_text",
                "why_risk",
                "suggestion"
            ],
            "type": "object"
        }
    },
    "properties": {
        "result": {
            "items": {
                "$ref": "#/$defs/ReviewResult"
            },
            "type": "array"
        }
    },
    "required": [
        "result"
    ],
    "title": "ReviewWorkflowOutput",
    "type": "object"
}

### 输出示例
{
  "result": [
    {
      "entry": "合同审查目标1原文",
      "entry_id": 1,
      "risks": [
        {
          "raw_text": "具体合同片段",
          "why_risk": "风险分析",
          "suggestion": "修改建议"
        }
        ...
      ]
    },
    {
        "entry": "合同审查目标2原文",
        "entry_id": 2,
        "risks": []
    }
  ]
}