version: '3.8'

x-shared-api-worker-env: &shared-api-worker-env
  API_DEBUG: ${API_DEBUG:-0}
  API_DEBUG_PORT: ${API_DEBUG_PORT:-5678}
  CACHE_DIR: ${CACHE_DIR:-/app/volumes}
  LOGFIRE_LOG_ENDPOINT: ${LOGFIRE_LOG_ENDPOINT:-"http://otel_collector:4318"}
  DASHSCOPE_API_KEY: ${DASHSCOPE_API_KEY}
  DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
  JWT_SECRET_KEY: ${JWT_SECRET_KEY}
  LANGFUSE_SECRET_KEY : ${LANGFUSE_SECRET_KEY}
  LANGFUSE_PUBLIC_KEY : ${LANGFUSE_PUBLIC_KEY}
  LANGFUSE_HOST: ${LANGFUSE_HOST}

services:
  api:
    image: idiot-api
    volumes:
      - ./volumes:/app/volumes
    working_dir: /app
    command: ./api/run.sh
    restart: always
    environment:
      <<: *shared-api-worker-env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - ${API_DEBUG_EXPOSED_PORT}:${API_DEBUG_PORT:-5678}
    build:
      context: ../
      dockerfile: ./api/Dockerfile
    depends_on:
      - nginx
      - postgres
      # - jaeger
      - otel_collector
      - prometheus
      - minio
      - weaviate
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "8143:8143"
    volumes:
      - ../nginx/conf.d:/etc/nginx/conf.d
      - ../nginx/ssl:/etc/nginx/ssl
    restart: always

  postgres:
    image: postgres:18-alpine
    restart: always
    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
  
  neo4j:
    image: neo4j:community-ubi9
    restart: always
    volumes:
      - ./volumes/neo4j/data:/data
      
  # Traces 的记录变更为独立的langfuse服务
  # jaeger:
  #   image: jaegertracing/jaeger:2.8.0
  #   # ports:
  #     # - "16686:16686" # web ui port # reverse proxy from /jaeger to 16686
  #     # - "4318:4318" # internal log endpoint
  #   volumes:
  #     - ../jaeger/config.yaml:/jaeger/config.yaml
  #     - ../jaeger/ui-config.json:/jaeger/ui-config.json
  #     # have to create ./volumes/jaeger and chmod 777 it before starting jaeger
  #     - ./volumes/jaeger:/home/jaeger
  #   command: --config /jaeger/config.yaml

  otel_collector:
    image: otel/opentelemetry-collector-contrib:0.128.0
    environment:
      - LANGFUSE_ENDPOINT=http://host.docker.internal:3000/api/public/otel
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ../otel_collector/otel-collector-config-connector.yml:/etc/otelcol/otel-collector-config.yml
    command: --config /etc/otelcol/otel-collector-config.yml
    # depends_on:
    #   - jaeger
  
  prometheus:
    image: prom/prometheus:v3.4.2
    command:
      - --config.file=/config/prometheus-config.yaml
      - --storage.tsdb.path=/tmp/prometheus/data
      - --storage.tsdb.retention.time=7d
      # because nginx reverse proxy from /prometheus
      - --web.external-url=/prometheus
    volumes:
      - ../prometheus/prometheus-config.yaml:/config/prometheus-config.yaml:ro
      # have to create ./volumes/prometheus and chmod 777 it before starting jaeger
      - ./volumes/prometheus:/tmp/prometheus/data

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio_password
    volumes:
      - ./volumes/minio:/data
    command: server /data --console-address ":9001"

  # 暂时不启用cortex作为prometheus的长期存储
  # cortex:
  #   image: cortexproject/cortex:master-7a83210
  #   command:
  #     - -config.file=/config/cortex-config.yaml
  #   volumes:
  #     - ../cortex/cortex-config.yaml:/config/cortex-config.yaml:ro
  #     - ./volumes/cortex/data/blocks_storage:/data/blocks_storage
  #     - ./volumes/cortex/data/tsdb:/data/tsdb
  #     - ./volumes/cortex/data/tsdb-sync:/data/tsdb-sync
  #     - ./volumes/cortex/alertmanager:/alertmanager
  #     - ./volumes/cortex/data/alertmanager:/data/alertmanager
  #     - ./volumes/cortex/rules:/rules
  #     - ./volumes/cortex/data/ruler:/data/ruler
  #     - ./volumes/cortex/data/compactor:/tmp/cortex/compactor
  #   healthcheck:
  #     test: wget -qO- http://127.0.0.1:9009/ready
  #     interval: 10s
  #     timeout: 10s
  #     retries: 3
  #   restart: on-failure

  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.32.0
    volumes:
    - ./volumes/weaviate/data:/var/lib/weaviate
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTOSCHEMA_ENABLED: 'false'
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_API_BASED_MODULES: 'true'
      CLUSTER_HOSTNAME: 'node1'
      ASYNC_INDEXING: 'true'
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http

  wvWebapp:
    image: weaviateclusterapp:latest
    build:
      context: ../weaviate-webapp
      dockerfile: dockerfile

  redis:
    image: redis:8.2.0
    restart: always
    volumes:
      - ./volumes/redis/data:/data
    command: redis-server --appendonly yes --auto-aof-rewrite-percentage 100 --auto-aof-rewrite-min-size 64mb

networks:
  agent-networks: